<mat-card class="col-12 row server-list">
  <h2 class="col-5">Server List:</h2>
  <app-server-create></app-server-create>

  <mat-accordion *ngIf="servers.length > 0" multi="true" class="col-12 row">
    <mat-expansion-panel *ngFor="let server of servers" (click)="getServerIDForWebsites(server._id)">
      <mat-expansion-panel-header class="row">
        <div class="col-2 server-ip"><h3>{{server.ip}}</h3></div>
        <div class="col-6 server-title"><h3>{{server.title}}</h3></div>
      </mat-expansion-panel-header>
      <div class="col-12 row">
        <div class="col-2" *ngIf="server.software"><label>Operating System:</label> <p>{{server.software}}</p></div>
        <div class="col-2" *ngIf="server.login"><label>Additional Login:</label>  <p>{{server.login}}</p></div>
        <div class="col-6" *ngIf="server.description"><label>Description:</label> <p>{{server.description}}</p></div>
      </div>
      <app-website-list [serverID]="server._id"></app-website-list>
      <div class="col-12">
        <button class="delete" mat-button color="warn" (click)="onDelete(server._id)">Delete</button>
        <app-server-edit [serverID]="server._id"></app-server-edit>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <p class="col-12 row" *ngIf="servers.length <= 0">No servers added yet!</p>
</mat-card>
