<div class="col-12 website-list">
  <h3 class="col-5">Website List:</h3>
  <app-website-create></app-website-create>

  <mat-accordion class="col-12 row" multi="true" *ngIf="websites.length > 0">
    <mat-expansion-panel class="col-12 row" *ngFor="let website of websites">
      <mat-expansion-panel-header>
        <h3>{{website.title}}</h3>
      </mat-expansion-panel-header>
      <div class="mat-expansion-panel-body">
        <div  *ngIf="website.createDate" class="col-2">
          <label>Creation Date:</label>
          <p>{{website.createDate}}</p>
        </div>
        <div *ngIf="website.expirationDate" class="col-2">
          <label>Expiration Date:</label>
          <p>{{website.expirationDate}}</p>
        </div>
        <div *ngIf="website.hostedIntern" class="col-2">
          <label>Hosted Intern:</label>
          <p>{{website.hostedIntern}}</p>
        </div>
        <div class="col-12">
          <div *ngIf="website.domains.length > 0" class="col-6">
            <label>Domains:</label>
            <div *ngFor="let domain of website.domains last as last">
              <p>{{domain}}</p>
              <div *ngIf="website.domains.length > 1 && !last"><hr /></div>
            </div>
          </div>
          <div *ngIf="website.description" class="col-6">
            <label>Description:</label>
            <p>{{website.description}}</p>
          </div>
        </div>
        <div class="col-12">
          <div class="col-6">
            <label>Version:</label>
            <div *ngIf="website.wpAutoUpdate">
              <p>Auto Update</p>
            </div>
            <div *ngIf="website.wpVersion !== undefined">
              <p>{{website.wpVersion}}</p>
            </div>
          </div>
          <div class="col-6">
            <label>User:</label>
            <div *ngFor="let user of users">
              <div *ngFor="let websiteID of user._websiteID">
                <div *ngIf="websiteID === website._id">
                  {{user.firstName}}
                  {{user.lastName}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
            <button class="delete" mat-button color="warn" (click)="onDelete(website._id)">Delete</button>
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

  <p class="col-12 row" *ngIf="websites.length <= 0">No websites added yet!</p>


</div>
