<button class="add col-2" mat-fab color="accent" (click)="toggleForm()"> + </button>


<mat-card *ngIf="showForm" class="row col-12">
  <h4>Add a new website:</h4>
  <form (submit)="onAddWebsite(websiteForm)" #websiteForm="ngForm">
    <mat-form-field class="col-6">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        name="websiteTitle"
        ngModel
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>Domains</mat-label>
      <input
        matInput
        type="text"
        name="websiteDomains"
        ngModel
        required
        #domains="ngModel"
      />
      <mat-error *ngIf="domains.invalid">
        At least one Domain is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>Created at: </mat-label>
      <input matInput
             [matDatepicker]="picker"
             name="websiteCreateDate"
             ngModel
             required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>Expiring at: </mat-label>
      <input matInput
             [matDatepicker]="picker2"
             name="websiteExpirationDate"
             ngModel
             required
      >
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        rows="2"
        name="websiteDescription"
        ngModel
      ></textarea>
    </mat-form-field>
    <mat-checkbox class="col-6"
      name="websiteHostedIntern"
      ngModel>
      Hosted intern
    </mat-checkbox>
    <div class="col-12">
      <button
        class="submit"
        mat-raised-button
        type="submit">
        Save Website
      </button>
    </div>
  </form>
</mat-card>

