<button class="add col-2" mat-mini-fab color="accent" (click)="toggleForm()">
  <span *ngIf="!showForm">
    <i class="fas fa-plus"></i>
  </span>
  <span *ngIf="showForm">
    <i class="fas fa-plus cross"></i>
  </span>
</button>


<div *ngIf="showForm">
  <div class="modal">

<mat-card class="modal-content row">
  <div class="col-12 row">
  <button class="add" mat-fab color="accent" (click)="toggleForm()">
      <span *ngIf="showForm">
    <i class="fas fa-plus cross"></i>
  </span>
  </button>
  <h3>Add a new website:</h3>
  </div>
  <form (submit)="onAddWebsite(websiteForm)" #websiteForm="ngForm">
    <mat-form-field class="col-6">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        name="websiteTitle"
        ngModel
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">
        Title is <strong>required</strong>
      </mat-error>
      <div *ngIf="title.valid" class="check">
        <i class="fas fa-check"></i>
      </div>
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>Domains (seperated by comma)</mat-label>
      <input
        matInput
        type="text"
        name="websiteDomains"
        ngModel
        required
        pattern="^\s*(?:(?:\w+(?:-+\w+)*\.)+[a-z]+)\s*(?:,\s*(?:(?:\w+(?:-+\w+)*\.)+[a-z]+)\s*)*$"
        #domains="ngModel"
      />
      <div *ngIf="domains.valid" class="check">
        <i class="fas fa-check"></i>
      </div>
      <mat-error *ngIf="domains.invalid && domains.errors.required">
        At least one Domain is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="domains.invalid && domains.errors.pattern">
        Domains must be seperated by comma & of pattern domainname.topleveldomain
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-6">
      <mat-label>Created at: </mat-label>
      <input matInput
             [formControl]="date"
             [matDatepicker]="picker1"
             name="websiteCreateDate"
             ngModel
             required
             >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-6">
      <mat-label>Expiring at: </mat-label>
      <input matInput
             [matDatepicker]="picker2"
             name="websiteExpirationDate"
             ngModel
             required
             >
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-6">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        rows="2"
        name="websiteDescription"
        ngModel
      ></textarea>
    </mat-form-field>
    <mat-checkbox class="col-6"
      name="websiteHostedIntern"
      ngModel>
      Hosted intern
    </mat-checkbox>
    <div class="col-12 box">
      <h4>WordPress Infos:</h4>
      <mat-checkbox
          class="col-12"
          name="websiteWpAutoUpdate"
          #checkAutoComplete
          ngModel>
        Auto Update
      </mat-checkbox>

      <mat-form-field class="col-6">
        <mat-label>WP-Version</mat-label>
        <input type="text" name="websiteWpVersion" matInput [formControl]="wpVersionsControl" [matAutocomplete]="auto" >
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let version of wpVersions" [value]="version" >{{version}}</mat-option>
      </mat-autocomplete>
      <div class="col-6">
        <mat-form-field class="col-12">
          <mat-label>User</mat-label>
          <mat-select
            matNativeControl
            name="websiteWpUser"
            ngModel
            multiple
            [formControl]="userNamesControl">
            <mat-option *ngFor="let username of userNames" [value]="username">{{username}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12">
      <button
        class="submit"
        mat-raised-button
        type="submit">
        Save Website
      </button>
    </div>

  </form>
</mat-card>

</div>
</div>
