
<button class="add col-2" mat-fab color="primary" (click)="toggleForm()"> + </button>
<mat-card class="col-12" *ngIf="showForm">
  <form (submit)="onAddServer(serverForm)" #serverForm="ngForm">
    <mat-form-field class="col-6">
      <mat-label>IP</mat-label>
      <input
        matInput
        type="text"
        name="serverIP"
        ngModel
        required
        #ip="ngModel"
      />
      <mat-error *ngIf="ip.invalid">
        IP is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>Title / Alias</mat-label>
      <input
        matInput
        type="text"
        name="serverTitle"
        ngModel
      />
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        rows="4"
        name="serverDescription"
        ngModel
      ></textarea>
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>Software</mat-label>
      <select
        matNativeControl
        name="serverSoftware"
        ngModel >
        <option value="EngineX">Engine X</option>
        <option value="Apache">Apache</option>
        <option value="Windows">Windows</option>
      </select>
    </mat-form-field>
    <mat-checkbox
      class="col-6"
      name="serverlogin"
      ngModel>
      Additional Login
    </mat-checkbox>
    <div class="col-12">
      <button
        class="submit"
        mat-raised-button
        type="submit">
        Save Server
      </button>
    </div>
  </form>
</mat-card>

